@font-face {
    font-family: orbitron;
    src: url("Orbitron/static/Orbitron-Bold.ttf");
}

#hero{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px lightblue;
}

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 8, 110));
    height: 100vh;
    text-align: center;
    margin: 100px auto;
    font-family: orbitron, sans-serif;
    color: white;
}

.block-section{
    font-family:orbitron, sans-serif;
    
    margin: 50px auto;
    text-shadow: 0px 0px 1px black;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    
}
.block-section:hover{
    font-family:orbitron, sans-serif;
    color: black;
    background: white;
    margin: 50px auto;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    
}

.underline1:hover{
    border-bottom: 2px solid lightgoldenrodyellow;
    border-bottom-right-radius: 5px;
    text-shadow: 0px 0px 2px black;
}

.underline2:hover{
    border-bottom: 2px solid lightgoldenrodyellow;
    border-bottom-left-radius: 5px;
    text-shadow: 0px 0px 2px black;
}

#social-media{
    display: inline;

}

.icon{
    margin: 0 20px
}
.icon:hover{
    text-shadow: 1px 1px 5px white;
}